doctype
html(lang='en', class=`${large ? 'large' : ''}${iframe ? 'iframe' : ''} theme-${theme.name}`)
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Join #{name} on Slack!

        link(rel='shortcut icon', href=`${path}assets/favicon-32.png`)
        link(rel='stylesheet', href=`${path}assets/main.css`)
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat&display=swap', type='text/css')

        if css
            link(rel='stylesheet', href=css)

        if theme.accent
            style
                | html .splash .active { color: #{theme.accent}; }
                | html .splash p.signin a { color: #{theme.accent}; }
                | html .splash p.signin a:hover { background-color: #{theme.accent}; }
                | html .splash button { background-color: #{theme.accent}; }
                | html .splash button:not(.disabled):active { background-color: #{theme.accentDark}; }

        if analytics
            script(async, src=`https://www.googletagmanager.com/gtag/js?id={gaID}`)
            script
            | window.dataLayer = window.dataLayer || [];
            | function gtag(){dataLayer.push(arguments);}
            | gtag('js', new Date());
            | gtag('config', '#{analytics}');
    body
        .header
            .left
                img(src=`${path}assets/pixie-logo.svg`, class='header-logo', alt=`Pixie logo`, width='141')
                a(href='https://github.com/pixie-io/pixie')
                    img(src=`${path}assets/github-icon.svg`, alt=`Pixie Github`)
                a(href='https://twitter.com/pixie_run')
                        img(src=`${path}assets/twitter-icon.svg`, alt=`Pixie Twitter`)
                a(href='https://www.youtube.com/channel/UCOMCDRvBVNIS0lCyOmst7eg/featured')
                        img(src=`${path}assets/youtube-icon.svg`, alt=`Pixie Youtube`)

            .menu-bar
                .menu-item #[a(href=`https://px.dev/`, target='_top') Company]
                .menu-item #[a(href=`https://blog.px.dev/`, target='_top') Blog]
                .menu-item #[a(href=`https://px.dev/community`, target='_top') Community]
                .menu-item #[a(href=`https://docs.px.dev/`, target='_top') Docs]
    img(src=`${path}assets/shadow-planet.png`, alt=`planet`).shadow-planet
    .container
        .left-side
            h1 Join Pixie Community on Slack
            p.status #[=total] users are registered so far.
            form#invite

                if channels
                    if channels.length > 1
                        select.form-item(name='channel')
                          each channel in channels
                              option(value=channel, text=channel)
                    else
                        input(type='hidden', name='channel', value=channels[0])

                if iframe
                    input.form-item(type='email', name='email', placeholder='Your Email', required)
                else
                    input.form-item(type='email', name='email', placeholder='Your Email', autofocus, required)

                if recaptcha.sitekey
                    if recaptcha.invisible
                        div#h-captcha.g-recaptcha(
                            data-sitekey=recaptcha.sitekey,
                            data-callback='invisibleCallback',
                            data-size='invisible')
                    else
                        br
                        div.g-recaptcha(data-sitekey=recaptcha.sitekey, data-theme=theme.recaptcha)

                if coc
                    .coc
                        label
                            input(type='checkbox', name='coc', value='1', required)
                            | I agree to the #[a(href=coc, rel='noopener', target='_blank') Code of Conduct].
                button.button GET INVITE
            p.signin-row Already a member? #[a(href=`https://${org}.slack.com/`, target='_top') Sign in] instead.
        .right-side
            img(src=`${path}assets/slack-planet.svg`, alt=`Pixie`).slack-planet
            unless iframe
                    .powered-by powered by
                        img(src=`${path}assets/slack-small-logo.svg`, alt=`Slack logo` height='16')
                        a(href='https://github.com/emedvedev/slackin-extended', rel='noopener', target='_blank')  slackin extended
    .footer
        p.sandbox We are a #[a(href='https://cncf.io/') Cloud Native Computing Foundation] sandbox project.
        img(src=`${path}assets/footer/cncf-logo.svg`, alt=`CNCF`).cncf-logo
        .copyright-row
            span #[a(href='https://www.linuxfoundation.org/terms').muted-link Terms of Service] | #[a(href='https://www.linuxfoundation.org/privacy').muted-link Privacy Policy]
            span Copyright © 2018 - The Pixie Authors. All Rights Reserved.
            span The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our #[a(href='https://www.linuxfoundation.org/trademark-usage') Trademark Usage Page].
            span Pixie was originally created and contributed by #[a(href='https://newrelic.com/') New Relic, Inc].

    script
        | data = {};
        | data.path = !{JSON.stringify(path)};
        if recaptcha.sitekey && recaptcha.invisible
        | function invisibleCallback(token) {
        |   return submitForm();
        | }

    script(src='https://www.google.com/recaptcha/api.js', async, defer)
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.0/socket.io.min.js')
    script(src=`${path}assets/superagent.js`)
    script(src=`${path}assets/client.js`)
