doctype
html(lang='en', class=`${large ? 'large' : ''}${iframe ? 'iframe' : ''} theme-${theme.name}`)
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Join #{name} on Slack!

        link(rel='shortcut icon', href=`${path}assets/favicon-32.png`)
        link(rel='stylesheet', href=`${path}assets/main.css`)
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat&display=swap', type='text/css')

        if css
            link(rel='stylesheet', href=css)

        if theme.accent
            style
                | html .splash .active { color: #{theme.accent}; }
                | html .splash p.signin a { color: #{theme.accent}; }
                | html .splash p.signin a:hover { background-color: #{theme.accent}; }
                | html .splash button { background-color: #{theme.accent}; }
                | html .splash button:not(.disabled):active { background-color: #{theme.accentDark}; }

        if analytics
            script(async, src=`https://www.googletagmanager.com/gtag/js?id={gaID}`)
            script
            | window.dataLayer = window.dataLayer || [];
            | function gtag(){dataLayer.push(arguments);}
            | gtag('js', new Date());
            | gtag('config', '#{analytics}');
    body
        .header
            .left
                img(src=`${path}assets/pixie-logo.svg`, class='header-logo', alt=`Pixie Labs logo`, width='141')
                a(href='https://slackin.withpixie.ai')
                    img(src=`${path}assets/small-slack-icon.svg`, alt=`Pixie Slack`)
                a(href='https://github.com/pixie-labs/pixie')
                    img(src=`${path}assets/footer/github-icon.svg`, alt=`Pixie Github`)
                a(href='https://twitter.com/pixie_run')
                        img(src=`${path}assets/footer/twitter-icon.svg`, alt=`Pixie Twitter`)

            .menu-bar
                .menu-item #[a(href=`https://pixielabs.ai/beta`, target='_top') What's Live?]
                .menu-item #[a(href=`https://pixielabs.ai/about`, target='_top') Company]
                .menu-item #[a(href=`https://blog.pixielabs.ai/`, target='_top') Blog]
                .menu-item #[a(href=`https://pixielabs.ai/community`, target='_top') Community]
                .menu-item #[a(href=`https://docs.pixielabs.ai/`, target='_top') Docs]
                .menu-item #[a(href=`https://work.withpixie.ai/auth/login`, target='_top') Sign In]
                .button #[a(href=`https://work.withpixie.ai/auth/signup`, target='_top') TRY PIXIE]
    img(src=`${path}assets/shadow-planet.png`, alt=`planet`).shadow-planet
    .container
        .left-side
            h1 Join Pixie Community on Slack
            p.status #[=total] users are registered so far.
            form#invite

                if channels
                    if channels.length > 1
                        select.form-item(name='channel')
                          each channel in channels
                              option(value=channel, text=channel)
                    else
                        input(type='hidden', name='channel', value=channels[0])

                if iframe
                    input.form-item(type='email', name='email', placeholder='Your Email', required)
                else
                    input.form-item(type='email', name='email', placeholder='Your Email', autofocus, required)

                if recaptcha.sitekey
                    if recaptcha.invisible
                        div#h-captcha.g-recaptcha(
                            data-sitekey=recaptcha.sitekey,
                            data-callback='invisibleCallback',
                            data-size='invisible')
                    else
                        br
                        div.g-recaptcha(data-sitekey=recaptcha.sitekey, data-theme=theme.recaptcha)

                if coc
                    .coc
                        label
                            input(type='checkbox', name='coc', value='1', required)
                            | I agree to the #[a(href=coc, rel='noopener', target='_blank') Code of Conduct].
                button.button GET INVITE
            p.signin-row Already a member? #[a(href=`https://${org}.slack.com/`, target='_top') Sign in] instead.
        .right-side
            img(src=`${path}assets/slack-planet.svg`, alt=`Pixie Labs`).slack-planet
            unless iframe
                    .powered-by powered by
                        img(src=`${path}assets/slack-small-logo.svg`, alt=`Slack logo` height='16')
                        a(href='https://github.com/emedvedev/slackin-extended', rel='noopener', target='_blank')  slackin extended
    .footer
        img(src=`${path}assets/pixie-logo.svg`, alt=`Pixie Labs`).footer-logo
        .social-icons
            a(href='https://work.withpixie.ai/docs')
                img(src=`${path}assets/footer/docs-icon.svg`, alt=`Pixie Docs`)

            a(href='https://github.com/pixie-labs/pixie')
                img(src=`${path}assets/footer/github-icon.svg`, alt=`Pixie Github`)

            a(href='https://slackin.withpixie.ai')
                img(src=`${path}assets/footer/slack-icon.svg`, alt=`Pixie Slack`)

            a(href='https://www.youtube.com/channel/UCOMCDRvBVNIS0lCyOmst7eg/featured')
                img(src=`${path}assets/footer/youtube-icon.svg`, alt=`Pixie Youtube`)

            a(href='https://twitter.com/pixie_run')
                img(src=`${path}assets/footer/twitter-icon.svg`, alt=`Pixie Twitter`)
        .links-row
            a(href='https://work.withpixie.ai/login') SIGN IN
            .vertical-divider
            a(href='https://pixielabs.ai/terms') TERMS & PRIVACY
            .vertical-divider
            a(href='https://pixielabs.ai/community') COMMUNITY
            .vertical-divider
            a(href='https://pixielabs.ai/careers') CAREERS
            .vertical-divider
            a(href='https://pixielabs.ai/contact') CONTACT
        .copyright-row © 2020, Pixie Labs

    script
        | data = {};
        | data.path = !{JSON.stringify(path)};
        if recaptcha.sitekey && recaptcha.invisible
        | function invisibleCallback(token) {
        |   return submitForm();
        | }

    script(src='https://www.google.com/recaptcha/api.js', async, defer)
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.4/socket.io.slim.min.js')
    script(src=`${path}assets/superagent.js`)
    script(src=`${path}assets/client.js`)
